
<h1>Welcome to Volunteer Tracker</h1>

<h3>Create a new project:</h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="title">Project title</label>
    <input class="form-control" type="text" name="title" id="title">
  </div>

  <button type="submit">Create Project</button>
</form>

  <% if @projects.any?() %>
  <h3>Projects List</h3>
  <p>Click project to see details</p>
  <ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
  </ul>
  <% else %>
  <p>There are no projects yet</p>
  <% end %>
