<% if @projects.any?() %>
<p>Click on a project to see details:</p>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/project_detail/<%= project.id() %>"><%= project.title() %></a></li>
  <% end %>
</ul>
<% else %>
<p>No Current Projects</p>
<% end %>

<form action="/volunteers" method="post">
  <label for="project_id">Select Project</label>
  <select id='project_id' name='project_id' type='text'>
    <% @projects.each() do |project| %>
      <option value="<%= project.id()%>"> <%= project.title() %> </option>
    <% end %>
  </select>


  <label for="name">Volunteer Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Volunteer</button>
</form>
